.root {
    width: 100%;
    background: url(https://templatemo.com/templates/templatemo_562_space_dynamic/assets/images/about-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 0px;
    margin-top: 10%;
}

.container {
    padding: 0px 7%;
}

.contentContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    h5 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 2%;
    }
    p {
        font-size: 15px;
        line-height: 30px;
        margin: 0px;
    }
}

.itemContainer {
    margin-bottom: 8%;
}
