@import "../mixins.scss";

.root {
    width: 100%;
    height: 100%;
    padding-top: 15%;
    padding-bottom: 7%;
    @include for-tablet-portrait-up {
        padding-top: 21%;
    }
    @include for-phone-only {
        padding-top: 10rem;
    }
}
.container {
    padding: 0px 7%;
    @include for-phone-only {
        padding: 0 2%;
    }
    &::before {
        position: absolute;
        top: 12%;
        left: 0;
        content: "";
        background: url(https://templatemo.com/templates/templatemo_562_space_dynamic/assets/images/baner-dec-left.png);
        width: 13%;
        height: 60%;
        background-repeat: no-repeat;
        background-size: contain;
        @include for-tablet-portrait-up {
            top: 8%;
            width: 23%;
            height: 60%;
        }
    }
    &::after {
        position: absolute;
        top: 12%;
        right: 0;
        content: "";
        background: url(https://templatemo.com/templates/templatemo_562_space_dynamic/assets/images/baner-dec-right.png);
        height: 35%;
        width: 5.7%;
        background-size: contain;
        background-repeat: no-repeat;
        @include for-tablet-portrait-up {
            top: 8%;
            width: 14%;
            height: 50%;
        }
    }
}
.imgContainer {
    display: flex;
    justify-content: right;
    img {
        width: 100%;
        overflow: hidden;
    }
    @include for-tablet-portrait-up {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
    }
    @include for-phone-only {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
    }
}
.title {
    padding-right: 5%;
    align-self: center;
    h6 {
        text-transform: uppercase;
        font-size: 18px;
        color: #fe3f40;
        font-weight: 500;
        line-height: 1.2;
        margin-top: 0px;
        margin-bottom: 3%;
    }
    h2 {
        text-transform: capitalize;
        font-size: 50px;
        font-weight: 700;
        color: #2a2a2a;
        line-height: 72px;
        margin: 0px;
        em {
            color: #03a4ed;
            font-style: normal;
        }
        span {
            color: #fe3f40;
            text-transform: uppercase;
        }
    }
    p {
        color: #2a2a2a;
        font-size: 15px;
        line-height: 30px;
        font-weight: 400;
        margin-top: 5%;
    }
    @include for-tablet-portrait-up {
        padding-right: 0;
        h6 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    @include for-phone-only {
        padding-right: 0;
        h6 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
}
.titleLink {
    text-decoration: none;
    color: #0d6efd;
    &:hover {
        color: #0a58ca;
    }
}
.formContainer {
    background: #03a4ed;
    width: 80%;
    padding: 0px;
    margin-top: 5%;
    border-radius: 50px;
}
.input {
    color: #fff;
    padding: 0px 30px;
    padding-top: 5%;
    &::placeholder {
        color: #fff;
    }
}
.btn {
    margin: 0px;
    padding: 2%;
    button {
        position: relative;
        right: -15%;
        border-radius: 25px;
        outline: none;
        border: none;
        padding: 2vh 3vh;
        margin: 0px;
        color: #fe3f40;
        background: #fff;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
    }
    &:hover {
        cursor: pointer;
    }
    @include for-tablet-portrait-up {
        button {
            padding: 1rem 2rem;
        }
    }
    @include for-phone-only {
        width: 100%;
        button {
            padding: 1rem 2rem;
        }
    }
}
