.root {
    width: 100%;
    padding: 15% 0px;
    background-image: url(https://templatemo.com/templates/templatemo_562_space_dynamic/assets/images/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding: 0px 7%;
}

.content {
    color: #fff;
    align-self: center;
    h2 {
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 700;
        letter-spacing: 0.25px;
        line-height: 44px;
        margin: 0px;
    }
    p {
        font-size: 15px;
        line-height: 30px;
        margin: 0px;
        margin-top: 4%;
    }
    .phone {
        h4 {
            font-size: 20px;
            line-height: 30px;
            color: #fff;
            span {
                i {
                    text-align: center;
                    background-color: #fff;
                    border-radius: 50%;
                    color: #ff3b2c;
                    font-size: 22px;
                    padding: 2%;
                    margin-left: 5%;
                    margin-right: 3%;
                }
                .phoneNumber {
                    color: #fff;
                    font-size: 15px;
                    text-decoration: none;
                    font-weight: 500;
                }
            }
        }
    }
}

.contactPadding {
    padding-left: 5%;
}

.contactFormContainer {
    background: #fff;
    padding: 10% 5%;
    border-radius: 20px;
}

.contactForm {
    div {
        padding: 0% 1%;
    }
    input {
        width: 100%;
        height: 50px;
        border-radius: 35px;
        background-color: #d1f3ff;
        border: none;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 8%;
        text-indent: 1em;
        outline: none;
    }
    textarea {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        min-height: 140px;
        height: 140px;
        border-radius: 20px;
        background-color: #d1f3ff;
        border: none;
        outline: none;
        font-size: 15px;
        font-weight: 300;
        color: #2a2a2a;
        padding: 2% 3%;
        margin: 0px;
        margin-top: -4%;
        margin-bottom: 6%;
    }
}

.contactBtn {
    text-align: center;
    background: #03a4ed;
    padding: 2.5% 3.5%;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.25px;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    outline: none;
    transition: all 0.5s;
    &:hover {
        background: #fe3f40;
    }
}
