@import "../mixins.scss";

.root {
    width: 100%;
    position: fixed;
    background: #fafafa;
    box-shadow: 0px 1px 1px #eee;
    z-index: 100;
}
.container {
    width: 100%;
    padding: 0px 7%;
}
.nav {
    cursor: pointer;
    width: 100%;
    h4 {
        font-size: 24px;
        color: #03a4ed;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        span {
            color: #fe3f40;
        }
    }
}
.contact {
    display: flex;
    align-items: center;
    justify-content: right;
    @include for-tablet-portrait-up {
        display: none;
    }
    @include for-phone-only {
        display: none;
    }
}
.contactBtn {
    text-align: center;
    line-height: 40px;
    background: #fe3f40;
    padding: 0px 10%;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.5s;
    &:hover {
        background: #03a4ed;
    }
    @include for-tablet-portrait-up {
        display: none;
    }
    @include for-phone-only {
        display: none;
    }
}
.navItemContainer {
    display: flex;
    justify-content: space-between;
    @include for-phone-only {
        display: none;
    }
}
.navLink {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #2a2a2a;
    line-height: 40px;
    letter-spacing: 1px;
    &:hover {
        color: #fe3f40;
    }
    @include for-phone-only {
        display: none;
    }
}
.navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    @include for-tablet-portrait-up {
        padding: 0 0.3em;
    }
    @include for-phone-only {
        display: none;
    }
}
