.root {
    width: 100%;
    padding-top: 12%;
}

.container {
    padding: 0px 7%;
}

.title {
    h4 {
        color: #2a2a2a;
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 900;
        line-height: 44px;
        letter-spacing: 0.25px;
        margin: 0px;
        margin-right: 30%;
        em {
            font-style: normal;
            color: #03a4ed;
        }
        span {
            color: #fe3f40;
        }
    }
}

.titleImg {
    text-align: right;
    margin-top: -5%;
}

.listArticlesContainer {
    .listArticles {
        margin-bottom: 3%;
    }
    .articleItemContainer {
        padding-right: 10%;
        span {
            color: #afafaf;
            font-size: 15px;
            font-weight: 300;
            margin: 0px;
            margin-left: 3%;
        }
        h4 {
            font-size: 20px;
            font-weight: 700;
            color: #2a2a2a;
            &:hover {
                cursor: pointer;
            }
        }
        p {
            margin: 0px;
            font-size: 15px;
            line-height: 30px;
            color: #2a2a2a;
        }
        i {
            color: #ff4d61;
            font-size: 16px;
        }
    }
    .articleItemImages {
        text-align: right;
        img {
            border-radius: 25px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
